# Ignore everything
*
# EXCEPT FOR

# Directories and subdirectories
!*/

# Python files
!*.py

# Shell, bash, perl scripts
!*.sh
!*.pl

# Markdown and reStructuredText
!*.md
!*.rst

# Makefile, gitignore
!Makefile
!.gitignore